@import "source/normalize.css"

$yellow = fade-out(#FFBE1A, 10%);

afterclear()
  &::after
    content '.'
    visibility hidden
    display block
    height 0
    clear both

body
  background #EEE
  color #333
  font-family 'Source Sans Pro', Helvetica, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  text-rendering optimizeLegibility
  font-size 20px

h1, h2, h3, h4, h5, h6
  font-size 1em
  margin 0
  font-weight 400

ul
  list-style none
  padding 0
  margin 0


// Page level styles

.page-wrap
  max-width 600px
  margin 0 auto
  background #FFF
  border-radius 0.5em

.page-header
  text-align center
  font-size: 2em
  margin-bottom: -0.3em

.page-footer
  padding 1em 0 0.8em
  background #EEE
  text-align center
  text-transform uppercase
  font-size 0.8em
  color #AAA
  font-weight 600
  letter-spacing 0.02em


// Module busstop
.busstop

  .busstop-header
    background $yellow
    padding 0.5em 1em
    afterclear()

    .busstop-name
      float left
      margin 0
      font-weight 600

    .busstop-distance
      float right
      font-size 0.8em
      margin-top 0.2em
      color fade-out(#000, 40%)

  .busstop-routes
    padding 0.3em 0 0.5em

  .busstop-route
    padding 0.2em 1em
    font-size 0.9em
    afterclear()

    &:hover
      background #F8F8F8

    .busstop-route-name
      float left
      font-weight 400

    .busstop-route-nr
      display inline-block
      min-width 1em
      margin-right 0.5em
      font-weight 600
      text-align center

    .busstop-route-times
      float right

    .busstop-route-time
      display inline-block
      margin-left 0.5em

      &:nth-child(n+3)
        display none

// Module LoadingIndicator

.loadingIndicator
  position fixed
  left 0
  width 100%
  top 50%
  text-align center
  font-size 0.8em
  text-transform uppercase
  color #888

  &::after,
  &::before
    content ''
    position absolute
    left 50%
    top -3em
    box-sizing border-box
    background fade-out(#FFBE1A, 50%)
    display block
    width 2px
    height 2px
    border-radius 50%
    animation blob 2s infinite

  &::after
    animation-delay 0.8s

@media screen and (min-width: 500px)
  .page-wrap
    margin 1em auto 0

  .page-header
    padding 0.5em

  .busstop
    .busstop-route
      padding 0.3em 1em

      .busstop-route-time
        &:nth-child(n+3)
          display inline-block

        &:nth-child(2n)
          color fade-out(#000, 40%)

@keyframes blob
  0%
    box-shadow 0 0 0 0 fade-out(#FFBE1A, 50%)
  50%
    box-shadow 0 0 0 1em fade-out(#FFBE1A, 50%)
  100%
    box-shadow 0 0 0 0 fade-out(#FFBE1A, 50%)
